In [18]:
import pandas as pd
import numpy as np 
import matplotlib as mpl
import seaborn as sns

In [19]:
# Merge all csv files
files = [".\datasets\SocioFactors_Processed.csv", ".\datasets\CPI_Food_Processed.csv", ".\datasets\dependent_var_processed.csv"]
dfs = [pd.read_csv(file, encoding='utf8') for file in files]
print(dfs[0].columns)
print(dfs[1].columns)
print(dfs[2].columns)

Index(['ISO3_Code', 'Country_Name', 'M49_Code', 'Life_Expectancy_2016',
       'Life_Expectancy_2017', 'Life_Expectancy_2018', 'Life_Expectancy_2019',
       'Life_Expectancy_2020', 'Life_Expectancy_Avg',
       'Mean_Years_Of_Schooling_2016', 'Mean_Years_Of_Schooling_2017',
       'Mean_Years_Of_Schooling_2018', 'Mean_Years_Of_Schooling_2019',
       'Mean_Years_Of_Schooling_2020', 'Mean_Years_of_Schooling_Avg'],
      dtype='object')
Index(['M49_Code', 'Country_Name', 'ISO3 Code', 'CPI_Food_2016',
       'CPI_Food_2017', 'CPI_Food_2018', 'CPI_Food_2019', 'CPI_Food_2020',
       'CPI_Food_Avg'],
      dtype='object')
Index(['Unnamed: 0', 'Area Code (M49)', 'Area', 'Unit',
       '2.1.1 Prevalence of undernourishment (%) 2016',
       '2.1.1 Prevalence of undernourishment (%) 2017',
       '2.1.1 Prevalence of undernourishment (%) 2018',
       '2.1.1 Prevalence of undernourishment (%) 2019',
       '2.1.1 Prevalence of undernourishment (%) 2020'],
      dtype='object')

In [20]:
df = dfs[0]
df = df.merge(dfs[1], on="M49_Code", how="inner")
df

,ISO3_Code,Country_Name_x,M49_Code,Life_Expectancy_2016,Life_Expectancy_2017,Life_Expectancy_2018,Life_Expectancy_2019,Life_Expectancy_2020,Life_Expectancy_Avg,Mean_Years_Of_Schooling_2016,...,Mean_Years_Of_Schooling_2020,Mean_Years_of_Schooling_Avg,Country_Name_y,ISO3 Code,CPI_Food_2016,CPI_Food_2017,CPI_Food_2018,CPI_Food_2019,CPI_Food_2020,CPI_Food_Avg
0,AFG,Afghanistan,4.0,63.1361,63.0160,63.0810,63.5645,62.5751,63.07454,2.463660,...,2.854718,2.659189,Afghanistan,AFG,108.916832,113.832502,113.490296,119.067918,128.002089,116.661927
1,AGO,Angola,24.0,61.0923,61.6798,62.1438,62.4484,62.2612,61.92510,5.417391,...,5.417391,5.417391,Angola,AGO,154.136774,183.757815,211.993524,252.263872,330.372845,226.504966
2,ALB,Albania,8.0,78.8602,79.0473,79.1838,79.2825,76.9893,78.67262,10.727528,...,11.286455,11.061623,Albania,ALB,104.588667,107.497139,110.638289,113.430423,116.338895,110.498683
3,AND,Andorra,20.0,82.9671,82.9803,82.9923,83.0039,79.0234,82.19340,10.556100,...,10.555120,10.555512,Andorra,AND,101.932302,104.825577,106.828613,108.497810,109.610608,106.338982
4,ARE,United Arab Emirates,784.0,79.3347,79.5036,79.6274,79.7262,78.9457,79.42752,10.842620,...,12.694030,12.154016,United Arab Emirates,ARE,100.998062,104.268174,105.564297,104.435251,108.084044,104.669966
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,WSM,Samoa,882.0,72.5397,72.5900,72.6358,72.1572,72.7677,72.53808,11.526498,...,11.403800,11.465149,Samoa,WSM,105.513761,110.697788,109.340413,114.669831,105.476923,109.139743
179,YEM,Yemen,887.0,66.0641,65.9573,64.5751,65.0917,64.6501,65.26766,3.000000,...,3.200000,3.120000,Yemen,YEM,121.903092,128.044919,134.901926,143.908187,152.999508,136.351526
180,ZAF,South Africa,710.0,64.7469,65.4020,65.6743,66.1750,65.2522,65.45008,10.187880,...,11.373160,10.766810,South Africa,ZAF,115.896800,120.791800,124.103200,128.998200,136.628700,125.283740
181,ZMB,Zambia,894.0,61.7937,62.1201,62.3422,62.7926,62.3803,62.28578,6.802171,...,7.187091,7.033123,Zambia,ZMB,125.120587,131.148498,141.752050,163.363667,196.354507,151.547862
182,ZWE,Zimbabwe,716.0,60.3059,60.7095,61.4141,61.2925,61.1242,60.96924,8.345283,...,8.710909,8.562837,Zimbabwe,ZWE,96.878032,103.383454,158.767447,1300.732638,5806.528164,1493.257947