In [54]:
import pandas as pd
import numpy as np 
import matplotlib as mpl
import seaborn as sns

In [59]:
df = pd.read_csv("tmp_trimmed_df.csv")
df

,Unnamed: 0,Area Code (M49),Area,Unit,2.1.1 Prevalence of undernourishment (%)_2016,2.1.1 Prevalence of undernourishment (%)_2017,2.1.1 Prevalence of undernourishment (%)_2018,2.1.1 Prevalence of undernourishment (%)_2019,2.1.1 Prevalence of undernourishment (%)_2020
0,0,4,Afghanistan,%,22.2,0,0,0,0
1,1,4,Afghanistan,%,0,23,0,0,0
2,2,4,Afghanistan,%,0,0,24,0,0
3,3,4,Afghanistan,%,0,0,0,26.9,0
4,4,4,Afghanistan,%,0,0,0,0,29.8
...,...,...,...,...,...,...,...,...,...
1217,1217,716,Zimbabwe,%,NaN,0,0,0,0
1218,1218,716,Zimbabwe,%,0,NaN,0,0,0
1219,1219,716,Zimbabwe,%,0,0,NaN,0,0
1220,1220,716,Zimbabwe,%,0,0,0,NaN,0
1221,1221,716,Zimbabwe,%,0,0,0,0,NaN

In [60]:
columns = df.columns[-5:]
df[columns[1]] = df[columns[1]].shift(periods=-1, fill_value="0")
df[columns[2]] = df[columns[2]].shift(periods=-2, fill_value="0")
df[columns[3]] = df[columns[3]].shift(periods=-3, fill_value="0")
df[columns[4]] = df[columns[4]].shift(periods=-4, fill_value="0")
df = df.iloc[::5, 1:].reset_index(drop=True)
df

,Area Code (M49),Area,Unit,2.1.1 Prevalence of undernourishment (%)_2016,2.1.1 Prevalence of undernourishment (%)_2017,2.1.1 Prevalence of undernourishment (%)_2018,2.1.1 Prevalence of undernourishment (%)_2019,2.1.1 Prevalence of undernourishment (%)_2020
0,4,Afghanistan,%,22.2,23,24,26.9,29.8
1,248,Åland Islands,%,NaN,NaN,NaN,NaN,0
2,8,Albania,%,0,0,0,0,0
3,12,Algeria,%,0,0,0,0,0
4,16,American Samoa,%,0,0,0,0,0
...,...,...,...,...,...,...,...,...
240,876,Wallis and Futuna Islands,%,0,0,0,0,0
241,732,Western Sahara,%,0,0,0,0,0
242,887,Yemen,%,0,0,0,0,0
243,894,Zambia,%,0,0,0,0,0
244,716,Zimbabwe,%,0,0,0,0,0