In [8]:
import pandas as pd
import numpy as np 
import matplotlib as mpl
import seaborn as sns

In [9]:
DATASETS = [
    # Add another file/delete a file if there's any change in dataset HERE
    "CPI_Food_Processed.csv",
    "Net_FDI_Processed.csv",
    "SocioFactors_Processed.csv",
    "Prevalence_of_Undernourishment_Processed.csv"
]

In [10]:
# Merge all csv files
files = [".\datasets\Processed\%s" % x for x in DATASETS]
try:    
    dfs = [pd.read_csv(file, encoding='utf8') for file in files]
except:
    dfs = [pd.read_csv(file, encoding='ISO-8859-1') for file in files]

# Drop columns
for i in range(1, len(dfs)):
    columns = ["Unnamed: 0", "Country_Name", "ISO3 Code"]
    for col in columns:
        if col in dfs[i].columns:
            dfs[i].drop(columns=[col], inplace=True)
    if "Area Code (M49)" in dfs[i].columns:
        dfs[i].rename(columns={"Area Code (M49)": "M49_Code"}, inplace=True)
    if "Net_FDI" in DATASETS[i]:
        dfs[i].drop(columns=dfs[i].columns[dfs[i].columns.str.contains("Total_FDI")], inplace=True)
for i in range(len(dfs)):
    print(dfs[i].columns)

# Merge
df = dfs[0]
for i in range(1, len(dfs)):
    df = df.merge(dfs[i], on="M49_Code", how="inner")
df

Index(['M49_Code', 'Country_Name', 'ISO3 Code', 'CPI_Food_2016',
       'CPI_Food_2017', 'CPI_Food_2018', 'CPI_Food_2019', 'CPI_Food_2020',
       'CPI_Food_Avg'],
      dtype='object')
Index(['M49_Code', 'Net_FDI_2016', 'Net_FDI_2017', 'Net_FDI_2018',
       'Net_FDI_2019', 'Net_FDI_2020'],
      dtype='object')
Index(['ISO3_Code', 'M49_Code', 'Life_Expectancy_2016', 'Life_Expectancy_2017',
       'Life_Expectancy_2018', 'Life_Expectancy_2019', 'Life_Expectancy_2020',
       'Life_Expectancy_Avg', 'Mean_Years_Of_Schooling_2016',
       'Mean_Years_Of_Schooling_2017', 'Mean_Years_Of_Schooling_2018',
       'Mean_Years_Of_Schooling_2019', 'Mean_Years_Of_Schooling_2020',
       'Mean_Years_of_Schooling_Avg'],
      dtype='object')
Index(['M49_Code', 'Prevalence_of_undernourishment_2016',
       'Prevalence_of_undernourishment_2017',
       'Prevalence_of_undernourishment_2018',
       'Prevalence_of_undernourishment_2019',
       'Prevalence_of_undernourishment_2020'],
      dtype='object')

,M49_Code,Country_Name,ISO3 Code,CPI_Food_2016,CPI_Food_2017,CPI_Food_2018,CPI_Food_2019,CPI_Food_2020,CPI_Food_Avg,Net_FDI_2016,...,Mean_Years_Of_Schooling_2017,Mean_Years_Of_Schooling_2018,Mean_Years_Of_Schooling_2019,Mean_Years_Of_Schooling_2020,Mean_Years_of_Schooling_Avg,Prevalence_of_undernourishment_2016,Prevalence_of_undernourishment_2017,Prevalence_of_undernourishment_2018,Prevalence_of_undernourishment_2019,Prevalence_of_undernourishment_2020
0,4,Afghanistan,AFG,108.916832,113.832502,1.134903e+02,1.190679e+02,1.280021e+02,1.166619e+02,78.810000,...,2.561425,2.659189,2.756953,2.854718,2.659189,22.2,23.0,24.0,26.9,29.8
1,8,Albania,ALB,104.588667,107.497139,1.106383e+02,1.134304e+02,1.163389e+02,1.104987e+02,1036.471408,...,10.910692,11.096983,11.286455,11.286455,11.061623,4.7,4.7,4.6,4.3,3.9
2,12,Algeria,DZA,105.435418,111.015653,1.108684e+02,1.106159e+02,1.133403e+02,1.102551e+02,1590.096852,...,7.940606,8.004687,8.069284,8.069284,7.992180,2.8,2.7,1.5,1.5,1.5
3,24,Angola,AGO,154.136774,183.757815,2.119935e+02,2.522639e+02,3.303728e+02,2.265050e+02,-452.522619,...,5.417391,5.417391,5.417391,5.417391,5.417391,15.4,15.4,15.7,17.9,20.8
4,32,Argentina,ARG,119.206012,143.476356,2.168785e+02,3.400912e+02,4.831266e+02,2.605557e+02,1473.633407,...,11.016445,11.104700,11.147269,11.147269,11.068775,2.6,3.1,3.4,3.5,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,860,Uzbekistan,UZB,110.907849,139.447995,1.602235e+02,1.902327e+02,2.192974e+02,1.640219e+02,1656.769546,...,11.723840,11.774590,11.895590,11.895590,11.792540,1.5,1.5,1.5,1.5,1.5
148,548,Vanuatu,VUT,104.766185,111.462978,1.149402e+02,1.232468e+02,1.402463e+02,1.189325e+02,43.014317,...,6.760000,6.840000,7.064846,7.064846,6.881938,11.2,12.3,12.6,12.4,11.9
149,862,Venezuela (Bolivarian Republic of),VEN,953.574367,11086.187138,1.594700e+07,1.288889e+09,3.875371e+10,8.011712e+09,27.000000,...,10.570760,10.835699,11.107277,11.107277,10.786663,16.4,22.2,22.7,24.9,22.9
150,704,Viet Nam,VNM,103.139639,101.286235,1.064430e+02,1.161996e+02,1.193164e+02,1.092770e+02,11600.000000,...,8.205210,8.287745,8.370280,8.370280,8.271238,7.8,7.2,6.8,6.2,5.7
151,887,Yemen,YEM,121.903092,128.044919,1.349019e+02,1.439082e+02,1.529995e+02,1.363515e+02,-561.787000,...,3.000000,3.200000,3.200000,3.200000,3.120000,46.1,46.6,44.7,42.8,41.4

## Preprocessing

In [11]:
# Replace all null values by mean
df.fillna(df.mean(), inplace=True)
df.isnull().sum()

C:\Users\admin\AppData\Local\Temp\ipykernel_44292\1916672156.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

M49_Code                               0
Country_Name                           0
ISO3 Code                              0
CPI_Food_2016                          0
CPI_Food_2017                          0
CPI_Food_2018                          0
CPI_Food_2019                          0
CPI_Food_2020                          0
CPI_Food_Avg                           0
Net_FDI_2016                           0
Net_FDI_2017                           0
Net_FDI_2018                           0
Net_FDI_2019                           0
Net_FDI_2020                           0
ISO3_Code                              0
Life_Expectancy_2016                   0
Life_Expectancy_2017                   0
Life_Expectancy_2018                   0
Life_Expectancy_2019                   0
Life_Expectancy_2020                   0
Life_Expectancy_Avg                    0
Mean_Years_Of_Schooling_2016           0
Mean_Years_Of_Schooling_2017           0
Mean_Years_Of_Schooling_2018           0
Mean_Years_Of_Schooling_2019           0
Mean_Years_Of_Schooling_2020           0
Mean_Years_of_Schooling_Avg            0
Prevalence_of_undernourishment_2016    0
Prevalence_of_undernourishment_2017    0
Prevalence_of_undernourishment_2018    0
Prevalence_of_undernourishment_2019    0
Prevalence_of_undernourishment_2020    0
dtype: int64

## Convert to excel format

In [12]:
# Create dataframes corr. to each year
import csv

df_exc = df.copy()
df_exc = df_exc.loc[:, ~df_exc.columns.str.contains('Avg')]
col_names = df_exc.columns[:3].tolist() + ["Year"] + [x.replace("_2020", "") for x in df_exc.columns[df_exc.columns.str.contains('_2020')].values]
print(col_names)
n = np.count_nonzero(df_exc.columns.str.contains('_2020')) + 4
years = [2016, 2017, 2018, 2019, 2020]
dfs = [None, None, None, None, None]
data = []
for i, year in enumerate(years):
    df_info = df_exc.iloc[:, 0:3]
    df_info["Year"] = year
    dfs[i] = pd.concat([df_info, df_exc.loc[:, df_exc.columns.str.contains(str(year))]], axis=1)
    assert dfs[i].shape[1] == n
    data += dfs[i].values.tolist()
data = [col_names] + data
with open("./datasets/Processed/All_Processed.csv", "w", encoding="utf8", newline="") as f:
   w = csv.writer(f)
   w.writerows(data)

['M49_Code', 'Country_Name', 'ISO3 Code', 'Year', 'CPI_Food', 'Net_FDI', 'Life_Expectancy', 'Mean_Years_Of_Schooling', 'Prevalence_of_undernourishment']