In [34]:
import pandas as pd
import numpy as np 
import matplotlib as mpl
import seaborn as sns

import warnings
warnings.simplefilter(action='ignore')

In [35]:
df_socio = pd.read_excel("Datasets\Processed\Combined_Process_Factors.xlsx", "Socio_factors_processed")
df_cpi = pd.read_excel("Datasets\Processed\Combined_Process_Factors.xlsx", "CPI_processed")
df_fdi = pd.read_excel("Datasets\Processed\Combined_Process_Factors.xlsx", "Net_FDI_processed")
df_undernourishment = pd.read_excel("Datasets\Processed\Combined_Process_Factors.xlsx", "undernourishment_processed")
df_cpi.columns

Index(['M49_Code', 'Country_Name', 'ISO3 Code', 'CPI_Food_2016',
       'CPI_Food_2017', 'CPI_Food_2018', 'CPI_Food_2019', 'CPI_Food_2020',
       'CPI_Food_Avg'],
      dtype='object')

In [36]:
df_cpi.drop(["M49_Code", "ISO3 Code"], inplace=True, axis=1)
df_fdi.drop(["Unnamed: 0", "M49_Code"], inplace=True, axis=1)
df_undernourishment.drop(["Unnamed: 0", "M49_Code"], inplace=True, axis=1)

In [38]:
df_combined = pd.merge(df_socio, df_cpi, on="Country_Name", how="inner")
df_combined = pd.merge(df_combined, df_fdi, on="Country_Name", how="inner")
df_combined = pd.merge(df_combined, df_undernourishment, on="Country_Name", how="inner")
df_combined.columns
# df_combined.to_csv("combined_df.csv")

Index(['ISO3_Code', 'Country_Name', 'M49_Code', 'Life_Expectancy_2016',
       'Life_Expectancy_2017', 'Life_Expectancy_2018', 'Life_Expectancy_2019',
       'Life_Expectancy_2020', 'Life_Expectancy_Avg',
       'Mean_Years_Of_Schooling_2016', 'Mean_Years_Of_Schooling_2017',
       'Mean_Years_Of_Schooling_2018', 'Mean_Years_Of_Schooling_2019',
       'Mean_Years_Of_Schooling_2020', 'Mean_Years_of_Schooling_Avg',
       'CPI_Food_2016', 'CPI_Food_2017', 'CPI_Food_2018', 'CPI_Food_2019',
       'CPI_Food_2020', 'CPI_Food_Avg', 'Total_FDI_Inflows_2016',
       'Total_FDI_Inflows_2017', 'Total_FDI_Inflows_2018',
       'Total_FDI_Inflows_2019', 'Total_FDI_Inflows_2020',
       'Total_FDI_Outflows_2016', 'Total_FDI_Outflows_2017',
       'Total_FDI_Outflows_2018', 'Total_FDI_Outflows_2019',
       'Total_FDI_Outflows_2020', 'Net_FDI_2016', 'Net_FDI_2017',
       'Net_FDI_2018', 'Net_FDI_2019', 'Net_FDI_2020',
       'Prevalence_of_undernourishment_2016',
       'Prevalence_of_undernourishment_2017',
       'Prevalence_of_undernourishment_2018',
       'Prevalence_of_undernourishment_2019',
       'Prevalence_of_undernourishment_2020'],
      dtype='object')

In [64]:
df_all_processed = pd.read_csv("Datasets\Processed\All_Processed.csv")
# df_all_processed.sort_values(["Country_Name", "Year"])

In [59]:
df_gni = pd.read_csv("Datasets\Original\FAOSTAT_data_en_11-22-2022.csv", encoding="ISO-8859-1")

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22011,Gross National Income,2016,2016,millions,18199.126228,X,Figure from international organizations,NaN
1,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22011,Gross National Income,2017,2017,millions,19145.017021,X,Figure from international organizations,NaN
2,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22011,Gross National Income,2018,2018,millions,18610.257350,X,Figure from international organizations,NaN
3,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22011,Gross National Income,2019,2019,millions,19205.244293,X,Figure from international organizations,NaN
4,MK,Macro Indicators,4,Afghanistan,6110,Value US$,22011,Gross National Income,2020,2020,millions,19982.204387,X,Figure from international organizations,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1050,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22011,Gross National Income,2016,2016,millions,18772.952346,X,Figure from international organizations,NaN
1051,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22011,Gross National Income,2017,2017,millions,20079.596788,X,Figure from international organizations,NaN
1052,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22011,Gross National Income,2018,2018,millions,22706.648353,X,Figure from international organizations,NaN
1053,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22011,Gross National Income,2019,2019,millions,21550.107657,X,Figure from international organizations,NaN
1054,MK,Macro Indicators,716,Zimbabwe,6110,Value US$,22011,Gross National Income,2020,2020,millions,21430.886292,X,Figure from international organizations,NaN

In [70]:
df_all_processed = pd.read_csv("Datasets\Processed\All_Processed.csv")
df_all_processed.sort_values(["Country_Name", "Year"], inplace=True)
df_gni = pd.read_csv("Datasets\Original\GNI.csv", encoding="ISO-8859-1")
df_population = pd.read_csv("Datasets\Original\Population.csv", encoding="ISO-8859-1")
df_govt_exp = pd.read_csv("Datasets\Original\Govt_Expenditure.csv", encoding="ISO-8859-1")

df_gni.rename(columns={"Area Code (M49)": "M49_Code", "Area": "Country_Name", "Value": "GNI"}, inplace=True)
df_gni.drop(["Domain Code", "Domain", "Element Code", "Element", "Item Code", "Year Code", 'Flag','Flag Description', 'Note', "M49_Code", "Unit", "Item"], axis=1, inplace=True)
df_population.rename(columns={"Area Code (M49)": "M49_Code", "Area": "Country_Name", "Value": "Population"}, inplace=True)
df_population.drop(["Domain Code", "Domain", "Element Code", "Element", "Item Code", "Year Code", 'Flag','Flag Description', 'Note', "M49_Code", "Item", "Unit"], axis=1, inplace=True)

df_govt_exp.rename(columns={"Area Code (M49)": "M49_Code", "Area": "Country_Name", "Value": "Govt_Expenditure"}, inplace=True)
df_govt_exp.drop(["ï»¿Domain Code", "Domain", "Element Code", "Element", "Item Code", "Year Code", 'Flag','Flag Description', 'Note', "M49_Code", "Item", "Unit"], axis=1, inplace=True)


# print(df_faostats.columns)
# print(df_faostats1.columns)
# df_all_processed.columns

df_combined1 = pd.merge(df_all_processed, df_gni, on=["Country_Name", "Year"], how="inner")
df_combined1 = pd.merge(df_combined1, df_population, on=["Country_Name", "Year"], how="inner")
df_combined1 = pd.merge(df_combined1, df_govt_exp, on=["Country_Name", "Year"], how="inner")


df_combined1

,ISO3_Code,Country_Name,M49_Code,Year,Life_Expectancy,Mean_Years_Of_Schooling,CPI_Food,Net_FDI,Prevalence_of_undernourishment,GNI,Population,Govt_Expenditure
0,AFG,Afghanistan,4.0,2016,63.1361,2.463660,108.916832,78.810000,22.2,18199.126228,34636.207,9299.089340
1,AFG,Afghanistan,4.0,2017,63.0160,2.561425,113.832502,42.590000,23.0,19145.017021,35643.418,9095.510866
2,ALB,Albania,8.0,2016,78.8602,10.727528,104.588667,1036.471408,4.7,12053.991102,2881.063,3428.258517
3,ALB,Albania,8.0,2017,79.0473,10.910692,107.497139,1122.694050,4.7,13051.517242,2879.355,3805.991340
4,ALB,Albania,8.0,2018,79.1838,11.096983,110.638289,1207.129445,4.6,15137.999954,2877.013,4355.901378
...,...,...,...,...,...,...,...,...,...,...,...,...
363,VNM,Viet Nam,704.0,2016,73.9382,8.122675,103.139639,11600.000000,7.8,196686.612085,93126.529,59188.053379
364,VNM,Viet Nam,704.0,2017,73.9632,8.205210,101.286235,13620.000000,7.2,207929.413476,94033.048,60573.480112
365,VNM,Viet Nam,704.0,2018,73.9757,8.287745,106.442999,14902.000000,6.8,230004.225280,94914.330,63509.062231
366,VNM,Viet Nam,704.0,2019,74.0929,8.370280,116.199618,15655.000000,6.2,246721.274433,95776.716,75833.781920
367,VNM,Viet Nam,704.0,2020,75.3779,8.370280,119.316440,15420.000000,5.7,255422.424127,96648.685,77039.022071

In [71]:
df_combined1.to_csv("combined_df1.csv")